body {
    background: linear-gradient(to right, #040404 40%, #000000 30%, #130F40);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.Centercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
}

.centerText {
    width: 100%;
    font-size: 70;
    background: linear-gradient(30deg, rgba(249,22,255,1) 2%, rgba(175,60,225,1) 38%, rgba(91,71,226,1) 77%, rgba(0,109,241,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

/* Thanks to https://codepen.io/raf187/pen/BvgGRQ */

.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #af3ce1;
    border-right: 5px solid #5b47e2;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.gradientText {
    background: linear-gradient(30deg, rgba(249,22,255,1) 2%, rgba(175,60,225,1) 38%, rgba(91,71,226,1) 77%, rgba(0,109,241,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.textbox {
    font-size: 28;
    color: rgb(226, 226, 226);
}

.skillsList {
    background: linear-gradient(30deg, rgba(249,22,255,1) 2%, rgba(175,60,225,1) 38%, rgba(91,71,226,1) 77%, rgba(0,109,241,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 32; 
    display: inline-block; 
    margin-right: 5vh; 
    margin-left: 5vh; 
    margin-top: 2vh; 
    margin-bottom: 2vh;
    animation-name: skillsList;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes skillsList {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px); }   
}

.inputbox {
    border-bottom-color: #f916ff;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    background-color: #00000000;
    color: whitesmoke;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 18;
    text-align: center;
}

.bttn {
    border: none;
    font-size: 20;
    background: linear-gradient(30deg, rgba(249,22,255,1) 2%, rgba(175,60,225,1) 38%, rgba(91,71,226,1) 77%, rgba(0,109,241,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bttn:hover {
    animation: bttnhover;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes bttnhover {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -10px); }
    100%   { transform: translate(0, -0px); }   
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
