html,
body {
    height: 100%;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.coloredfont {
    font-weight: bold;
    background: rgb(255, 0, 187);
    background: linear-gradient(47deg, rgba(255, 0, 187, 1) 0%, rgba(0, 119, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    background-color: rgba(255, 255, 255, .4);
    width: 100%;
}

.navbar-item {
    margin-top: 6px;
    font-size: 1rem;
}

.navbar-item:hover {
    font-weight: bold;
    background: rgb(255, 0, 187);
    background: linear-gradient(47deg, rgba(255, 0, 187, 1) 0%, rgba(0, 119, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.breadcrumb {
    padding: 4px;
}

.box {
    background-color: rgba(255, 255, 255, .4) !important;
}